.container-fluid
{
    overflow: hidden;
}
.border-radius
{
  border-radius: clamp(1%, 11vw, 5%);
}
.border-radius-1
{
  border-radius: clamp(0.5vw, 1vw, 1vw);
}
.border-radius-2
{
  border-radius: clamp(0.3vw, 0.5vw, 0.8vw);
}

.viem
{
  width: 70%;
  background: white;

}
a
{
  text-decoration: none;
  color:white;
}
.rounded-rectangle
{
  width: 10vw;
  border:solid 1px  white;
  height: 1.5vw;

}
.rounded-rectangle-1
{
  width: 10vw;
  border:solid 1px  white;
  height: 1.9vw;

}
.half-otstup-vertical
{
  transform: translate(0%, 40%);
}
.p-1-1
{
  padding:0.3vw;
}
.quorte
{
  
  border: solid 1px white;
  width: 7vw;
  height: 7vw;
}
.quorte-1
{
  border:solid 0.5px rgb(75, 74, 74);
  width:32vw;
  height: 15vw;
}
.quorte-2
{
  
  border: solid 1px white;
  width: 9vw;
  height: 9vw;
}

.page-arendator
{
  background-color: black;
  width: 41.3822%;
  border-left: solid 1px #adb5bd;
  border-right: solid 1px #adb5bd; 
  border-bottom: solid 1px #adb5bd;
}
.page-arendator-2
{
  background-color: black;
  width: 60%;
  border-left: solid 1px #adb5bd;
  border-right: solid 1px #adb5bd; 
  border-bottom: solid 1px #adb5bd;
}
.unic
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-arendator-3
{
  background-color: black;
  width: 70%;
  border-left: solid 1px #adb5bd;
  border-right: solid 1px #adb5bd; 
  border-bottom: solid 1px #adb5bd;
}
.block
{   
    display: flex;
    width: 100%;
    
}
.half1
{
  display: flex;
  width: 50%;
}
.half2
{
  display: flex;
  width: 50%;
  
}
.block-1
{
    width: 50%;
    height: 20%;
}
.otstup-0
{
    margin-top: clamp(50px, 11vw, 440px);

}
.otstup
{
    margin-top: clamp(40px, 11vw, 240px);

}
.otstup-05
{
    margin-top: clamp(40px, 11vw, 200px);

}
.otstup-1
{
  margin-top: clamp(1vw, 1.6vw, 2vw);
}

.bbtext
{
 font-size: clamp(14.5vw, 10vw, 50vw );
 line-height: 0.7;
}
.bmtext
{
  font-size: clamp(3vw, 1.5vw, 5vw);
}
.btext
{
   font-size: clamp(1vw, 1.5vw, 3vw);

}
.mtext
{
    font-size: clamp(0.2vw, 1.5vw, 1vw );
}
.llltext
{
  font-size: clamp(0.1vw, 1.5vw, 0.40vw );
}
.lltext
{
    font-size: clamp(0.1vw, 1.5vw, 0.55vw );
}
.ltext
{
    font-size: clamp(0.1vw, 1.5vw, 0.8vw );
}

.foto
{
  width: 30%;
  height: 70%;
}
.imgcontainer-1 {
  position: relative;
  display: inline-block;
  width: 90%;
  height: auto;
  margin: 20px auto 0px; 
}

.innerimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%); 
  width:clamp(46%,11vh,45%);
  max-width: 50%; 
}

.myimage {
  border-left: 1px solid transparent;
   border-right: 1px solid transparent;
  border-image: linear-gradient(to bottom,transparent 95%, #adb5bd 5%) 1;
  
}

@media (max-width: 460px) {
  .bbtext
{
 font-size: 16vw;
 line-height: 0.7;
}
.bmtext
{
  font-size: clamp(3vw, 1.5vw, 5vw);
}
.btext
{
   font-size: 3vw;

}
.mtext
{
    font-size: 2vw;
}
.llltext
{
  font-size: 1vw;
}
.lltext
{
    font-size: 1.3vw;
}
.ltext
{
    font-size: 2vw;
}
.tablet
{
  height: 80vw;
}
.page-arendator
{
  background-color: black;
  width: 90%;
  border-left: solid 1px #adb5bd;
  border-right: solid 1px #adb5bd; 
  border-bottom: solid 1px #adb5bd;
}
.imgcontainer-1 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 20px auto 0px; 
}

.innerimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%); 
  width:clamp(46%,11vh,45%);
  max-width: 50%; 
}

.myimage {
  border-left: 1px solid transparent;
   border-right: 1px solid transparent;
  border-image: linear-gradient(to bottom,transparent 95%, #adb5bd 5%) 1;
  
}
.rounded-rectangle
{
  width: 23vw;
  border:solid 1px  white;
  height: 6.5vw;

}
.quorte
{
  
  border: solid 1px white;
  width: 14vw;
  height: 14vw;
}
}

/* @media (max-width: 375px) {
  
  .btext {
    font-size: clamp(0.2rem, 3vw, 0.55rem);
  }
  .mtext{
    font-size: clamp(0.2rem, 3vw, 0.4rem);
  }
  .otstup
  {
    margin-top: 40px;
  }
}

@media (max-width: 390px) {
  .btext {
    font-size: clamp(10px 3vw, 20px);
  }
  .otstup
  {
    margin-top: 40px;
  }
} */
/* @media (max-width: 727px){
  .otstup{
    margin-top: 80px;
  }
} */


/* раздел status park */



 








